---
---
.code {
    background-color: #eee;
    color: #000;
}

.code__comment {
    color: green;

}

.code__required {
    color: #000;
    font-weight: bold;
}

.code__optional {
    color: #666;
    font-weight: normal;
}

.code__recipe-tag {
    color: blue;
}

.code__result {
    color: darkorange;
}

.code__flag {
    color: magenta;
}